Visual Studio 2015/Projects/ADO.NET_2/XSD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Bibl">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="BOOK">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AUTHOR" type="xs:string"/>
              <xs:element name="BINDING" type="xs:decimal"/>
              <xs:element name="PAGES" type="xs:int"/>
              <xs:element name="PRICE" type="xs:decimal"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
